* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    background-color: aqua;
}

.landingpage {
    width: 100%;
    height: 99%;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    background-image: url('img/Listen.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar {
    width: 100%;
    height: 6rem;
    /* background-color: black; */
    background-color: transparent;
    margin: 0;
}

.navigations {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    margin-top: 2rem;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

li:hover {
    color: rgb(180, 148, 148);
    transition: all .5s;
}

.create-account {
    width: 8rem;
    height: 1.8rem;
    margin-top: 1.8rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account:hover {
    background-color: rgb(161, 157, 157);
    color: rgb(232, 82, 82);
    font-weight: 500;
    transition: all 1.1s;
}

.websiteLogo {
    font-size: 2rem;
    margin-top: 1.4rem;
    width: 40rem;
}

.start-listen {
    position: absolute;
    width: 15rem;
    height: 3rem;
    background-color: transparent(247, 243, 243);
    top: 70%;
    left: 42%;
    font-size: 2.2rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.start-listen:hover {
    border: 2px solid black;
    transform: scale(1.1);
    transition: all .3s;
}

.start-listen:not( :hover) {
    transform: scale(1);
    transition: all .3s;
}