* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html {
    padding: 0;
    margin: 0;
    background-color: aqua;
    font-family: "Roboto", sans-serif;
}

.mainPage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(68, 123, 171);
    display: flex;
}

.sidebar {
    flex: 1;
    background-color: antiquewhite;
}

.navs {
    width: 100%;
    height: 91.5%;
    padding-top: 4rem;
}

.navs h5 {
    width: 13rem;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active {
    border-radius: 1.2rem;
    background-color: rgb(0, 0, 0, .2);
}

.mainbar {
    flex: 3;
    background-color: azure;
}

.mainbar-background-page1-img {
    display: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/arijit.jpg');
    background-repeat: no-repeat;
    box-shadow: inset 0rem -30rem 10rem #1f1e1e;
}

.mainbar-background-page2-img {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/mainbar-background-page2.svg');
    background-repeat: no-repeat;
    box-shadow: inset 0rem -20rem 10rem #1f1e1e;
}

.song-cards {
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: aliceblue;
    border-radius: 2.5rem;
    top: 40%;
    left: 8%;
    background-image: url('../img/card-pic1.svg');
}

.song-card {
    width: 80%;
    margin: 1rem 10%;
    height: 4rem;
    background-color: rgb(0, 0, 0, .5);
    border-radius: 2rem;
    display: flex;
}

.song-card:hover {
    background-color: rgb(170, 176, 182);
    cursor: pointer;
    transition: all .5s;
    color: #1f1e1e;
}

.song-img {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: #333;
    border: 0;
}

.song-name {
    width: 93%;
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.three-dot {
    position: relative;
    width: 2.4rem;
    height: 2rem;
    font-size: 2.5rem;
    left: 75%;
    top: 5%;
    border-radius: 1rem;
    cursor: pointer;
    /* display: none; */
    cursor: pointer;
}

.play {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: rgb(0, 0, 0, .7);
    top: 50%;
    left: 10%;
    background-image: url('../img/play.svg');
    /* display: none; */
    cursor: pointer;
}

.song-cards-2 {
    position: relative;
    width: 12rem;
    height: 12rem;
    background-color: aliceblue;
    border-radius: 2.5rem;
    top: 73%;
    left: 8%;
    background-image: url('../img/card-pic1.svg');
}

.three-dot {
    position: relative;
    width: 2.4rem;
    height: 2rem;
    font-size: 2.5rem;
    left: 75%;
    top: 5%;
    border-radius: 1rem;
    cursor: pointer;
    /* display: none; */
    cursor: pointer;
}

.play {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: rgb(0, 0, 0, .7);
    top: 50%;
    left: 10%;
    background-image: url('../img/play.svg');
    /* display: none; */
    cursor: pointer;
}

#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.songs {
    position: relative;
    width: 100%;
    height: 54%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    padding-top: 30%;
}