* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html {
    padding: 0;
    margin: 0;
    background-color: aqua;
    font-family: "Roboto", sans-serif;
}

.mainPage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(68, 123, 171);
    display: flex;
}

.sidebar {
    flex: 1;
    background-color: antiquewhite;
}

.navs {
    width: 100%;
    height: 91.5%;
    padding-top: 4rem;
}

.navs h5 {
    width: 13rem;
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active {
    border-radius: 1.2rem;
    background-color: rgb(0, 0, 0, .2);
}

.mainbar {
    flex: 3;
    background-color: azure;
}

.mainbar-backgroung-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/arijit.jpg');
    background-repeat: no-repeat;
    box-shadow: inset 0rem -30rem 10rem #1f1e1e;
}

.song-cards {
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: aliceblue;
    border-radius: 2.5rem;
    top: 40%;
    left: 8%;
}

.three-dot {
    position: relative;
    width: 2.4rem;
    height: 2rem;
    font-size: 2.5rem;
    left: 75%;
    top: 5%;
    border-radius: 1rem;
    cursor: pointer;
    /* display: none; */
}

.play {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    /* background-color: black; */
    top: 50%;
    left: 10%;
    background-image: url('../img/play.svg');
}